#page_home {
    margin-bottom: 1000px;
    padding-top: 70px;
}

#page_rent {
    padding-top: 70px;
    margin-bottom: 1000px;
}

#pet1_page {
    margin-bottom: 30px;
    padding-top: 70px;
}

#pet2_page {
    margin-bottom: 30px;
}
